{% extends "graphcomparison.html" %}
{% block content %}

<!-- <table>
	<thead>
		<tr>
			<td>Names of structures in population</td>
		</tr>
	</thead>
	<tbody>
		{% for item in structures %}
			<tr>
				<td>{{ item["name"] }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table> -->

<form method="post">
	<table>
		<tr>
			<td> Enter list of structures to compare: </td> <td> <input type="text" name="structure_list" /> </td>
		</tr>
	</table>
	<br>
	<input class="button" type="submit" formaction="/graphcomparison/compare" value="Compare them!" />
</form>

{% endblock %}