{% extends 'portal.html'%}
{% block title %}Structures within population{% endblock %}
{% block content %}
<form method="post">
	<div class="text-right">
		<input class="btn btn-primary" type="submit" formaction='{{ url_for("graphcomparison.compare") }}' />
	</div>
	<table class="table table-borderless table-hover mt-2">
		<thead class="bg-info text-white">
			<tr>
				<th scope="col"></th>
				<th scope="col">Name</th>
			</tr>
		</thead>
		<tbody>
			{% for item in structures %}
				<tr>
					<td class="py-3">
						<input type="checkbox" name="structure_selection" value='{{ item["name"] }}' />
					</td>
					<td class="font-weight-bold py-3">{{ item["name"] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
{% endblock %}